* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    box-sizing: border-box;
    color: #555;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.section-profile {
    padding: 8rem;
    background-color: #eeeeee;
}

.profile-info {
    table-layout: fixed;
    width: 100%;
    white-space: none;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.profile-row,
.profile-heading,
.profile-data {
    padding: 1rem 1.5rem;
    text-align: left;
    border: 1px solid #cacaca;
}

.profile-data {
    color: #333;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile-heading {
    background-color: rgb(32, 32, 56);
    color: #f4f4f4;
    text-transform: capitalize;
}

.profile-row-1 {
    width: 30%
}

.profile-row-2 {
    width: 70%;
}

.meetup-info {
    table-layout: fixed;
    width: 100%;
    white-space: none;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-spacing: 1rem;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.meetup-row,
.meetup-data {
    padding: 1rem 1.5rem;
    text-align: left;
    border: 1px solid #cacaca;
}

.meetup-row:nth-child(even) {
    background-color: #e0e0e0;
}

.meetup-data {
    color: #333;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
}

.meetup-heading {
    background-color: rgb(32, 32, 56);
    color: #f4f4f4;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 1.5rem;
}

.profile-row-1 {
    width: 30%
}

.profile-row-2 {
    width: 70%;
}


/* animation classes */

.moveInBottom {
    animation-name: moveInBottom;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.moveInLeft {
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.moveInRight {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}


/* utility classes */
.u-margin-sm {
    margin: 1.5rem;
}

.u-marginTop-sm2 {
    margin-top: 2rem;
}

.u-marginBottom-sm {
    margin-bottom: 2rem;
}

.u-marginBottom-md {
    margin-bottom: 4rem;
}

.u-marginTop-neg {
    margin-top: -3.5rem !important;
}

.u-marginTop-sm {
    margin-top: 1rem;
}

.u-marginTop-md {
    margin-top: 4rem;
}

.u-marginTop-lg {
    margin-top: 8rem;
}

.u-marginTop-neg {
    margin-top: -2rem;
}

.u-marginBottom-neg {
    margin-bottom: 1rem;
}

.paddingSide-sm {
    padding-right: 2rem;
    padding-left: 2rem;
}

.u-paddingRight-sm {
    padding-right: 2rem;
}

.u-text-center {
    text-align: center
}

.padding-df {
    padding: 3rem;
}

.close {
    padding: 1rem;
    text-align: right;
    display: inline-block;
    font-size: 6rem;
    color: inherit;
    color: rgb(32, 32, 56);
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 4rem;
}


/* typography classes */

.heading-primary {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(32, 32, 56);
}

.heading-secondary {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(32, 32, 56);
}


/* btn classes */

.btn,
.btn:link,
.btn:visited,
.btn-1,
.btn-1:link,
.btn-1:visited,
button {
    display: inline-block;
    padding: 2rem 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    border-radius: .3rem;
    transition: all .4s;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    transform: translateY(.5rem);
    backface-visibility: hidden;
}

.btn-1 {
    border: .1rem solid #999;
}

.btn:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transform: translateY(-.3rem);
}


/* grid  classes*/

.row {
    width: 80%;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 2rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class^=col-] {
    float: left;
}

[class^=col-]:not(:last-child) {
    margin-right: 3rem;
}


/* if a row is considered to be 100%, then column width would basically be row width divide by specified size of col - margin between columns */

.col-1-of-2 {
    width: 45%;
    width: calc( 1 * ((100% - (1 * 3rem)) / 2) + (1 - 1) * 3rem);
}

.col-4-of-5 {
    width: calc( 4 * ((100% - (4 * 3rem)) / 5) + (4 - 1) * 3rem);
}

.col-1-of-5 {
    width: calc( 1 * ((100% - (4 * 3rem)) / 5) + (1 - 1) * 3rem);
}

.col-3-of-5 {
    width: calc( 3 * ((100% - (4 * 3rem)) / 5) + (3 - 1) * 3rem);
}

.col-2-of-5 {
    width: calc( 2 * ((100% - (4 * 3rem)) / 5) + (2 - 1) * 3rem);
}


/* form styling */

.form:not(:last-child) {
    margin-bottom: 2rem;
}

.form-group:not(:last-child) {
    margin-bottom: 3rem;
}

.form-label {
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    font-family: inherit;
    color: #555;
    cursor: pointer;
    text-align: left;
}

.form-input {
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: .3rem;
    border: .1rem solid #999;
    outline: none;
    font-family: inherit;
    font-size: 1.7rem;
    color: #333;
    transition: all .4s;
    display: block;
    cursor: pointer;
}

.form-input:focus {
    border: .1rem solid rgb(32, 32, 56);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.form-input-2:hover,
.form-input-2:focus {
    box-shadow: none;
}

.form-btn {
    padding: 2rem 1.5rem;
    color: #f4f4f4;
    background-color: rgb(5, 196, 107);
    font-size: 1.7rem;
    text-transform: uppercase;
    transition: all .3s;
}

.form-btn:hover {
    background-color: rgb(0, 157, 84);
}

.form-btn-sm {
    padding: 1rem 1rem;
}

.form-logobox {
    margin-bottom: 2rem;
    text-align: center;
}

.form-logo {
    height: 6rem;
}

.form-heading {
    color: rgb(32, 32, 56);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

.form-group-inline {
    width: 50%;
    float: left;
}

.form-group-inline:after {
    display: inline-block;
    content: "";
    clear: both;
}

.form-group-inline:not(:last-child) {
    padding-right: 1rem;
}

.form-comment {
    margin: 1rem 4rem;
    display: none;
}

.post-comment {
    display: block;
}

.form-comment-input {
    display: inline-block;
    padding: 1.6rem 1.8rem;
    cursor: pointer;
    width: 80%;
    border: 1px solid rgb(5, 196, 107);
    border-radius: 50rem;
    font-family: inherit;
    color: inherit;
}

.form-comment-btn {
    padding: 1rem;
    width: 18%;
    border: 1px solid rgb(5, 196, 107);
    border-radius: .3rem;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .2s;
}

.form-comment-btn:hover {
    color: #fff;
    background-color: rgb(5, 196, 107)
}

.comment {
    background-color: rgb(219, 219, 219);
    padding: 1rem 2rem;
    font-family: 'Lato' sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
}

.commentContainer {
    display:none;
    padding: 1rem 2.7rem;
}

/* navigation  classes*/

.navigation {
    background-color: rgb(32, 32, 56);
    padding: 1.5rem 0rem;
    position: relative;
}

.navigation::after {
    content: "";
    display: table;
    clear: both
}

.navigation-logobox {
    display: inline-block;
    position: absolute;
    top: 19%
}

.navigation-logo {
    height: 4.5rem;
}

.navigation-list {
    float: right;
    padding: .5rem 1rem;
}

.navigation-listitem {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}


/* // fix bug fix  */

.navigation-listitem:not(:last-child) {
    margin-right: .8rem;
}

.navigation-listsearch {
    padding: .5rem 2rem;
    width: 70%;
    border-radius: .3rem;
    border: .1rem solid #999;
    outline: none;
    font-family: inherit;
    font-size: 1.7rem;
    color: #333;
    cursor: pointer;
}

.navigation-listlink {
    border: .1rem solid #f4f4f4;
    padding: .5rem 2rem;
    color: #f4f4f4;
    transition: all .4s;
}

.navigation-listlink:hover {
    color: rgb(55, 55, 95);
    background-color: #f4f4f4;
}

.navigation-profileimg {
    position: absolute;
    top: 24%;
    height: 4rem;
}

.nav-search {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    text-align: center;
}

.error {
    display: none;
    transition: all .5s;
    opacity: 0
}

.admin {
    display: none;
    transition: all 1s;
 
}

.create {
    display: none;
    transition: all 1s;
}
/* mobile navigation....(very painful..lol) */

.navigation-mobile {
    position: fixed;
    top: 0%;
    left: -50%;
    width: 0%;
    height: 100vh;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation-listmobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    width: 100%;
}

.navigation-listitem-mobile {
    margin: 2rem;
}

.navigation-listlink-mobile,
.navigation-listlink-mobile:visited,
.navigation-listlink-mobile:link {
    border: .1rem solid #f4f4f4;
    color: #fefefe;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 3rem;
    transition: all .3s;
    border-radius: .3rem;
}

.navigation-listlink-mobile:hover,
.navigation-listlink-mobile:active,
.navigation-listlink-mobile:visited {
    color: rgb(55, 55, 95);
    background-color: #f4f4f4;
}

.navigation-toggle {
    background-color: #f4f4f4;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 2%;
    right: 10%;
    z-index: 2000;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.navigation-checkbox {
    display: none;
}

.navigation-background {
    background-image: radial-gradient(rgb(32, 32, 56), rgb(32, 32, 56));
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 2%;
    right: 11%;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-icon {
    background-color: #333;
    display: inline-block;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
    height: .2rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    backface-visibility: hidden;
}

.nav-mobile {
    display: none;
    opacity: 0;
}

.navigation-mobile {
    width: -30%;
    opacity: 0;
}

.navigation-icon::before,
.navigation-icon::after {
    content: "";
    display: inline-block;
    background-color: #333;
}

.navigation-mobilesearch {
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: purple;
}

.navigation-icon::after {
    top: .8rem;
}

.navigation-icon::before {
    top: -.6rem;
}

.navigation-toggle:hover .navigation-icon::before {
    top: -1rem;
}

.navigation-toggle:hover .navigation-icon::after {
    top: 1rem;
}

.navigation-checkbox:checked+.navigation-toggle .navigation-icon {
    background-color: transparent;
}

.navigation-checkbox:checked+.navigation-toggle .navigation-icon::before {
    top: 0;
    transform: translate(-50%, -50%) rotate(135deg);
}

.navigation-checkbox:checked+.navigation-toggle .navigation-icon::after {
    top: 0;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.navigation-checkbox:checked~.navigation-background {
    transform: scale(80);
}

.navigation-checkbox:checked~.navigation-mobile {
    opacity: 1;
    width: 100%;
    left: 0%;
}


/*  */

.header {
    position: relative;
    min-height: 85vh;
    background-color: rgb(32, 32, 56);
    background-image: linear-gradient(to right bottom, rgba(20, 20, 37, 0.9), rgba(0, 0, 0, .9)), url("../img/bg1.jpg");
    background-position: top;
    background-size: cover;
}

.header-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

.header-text-main {
    display: block;
    color: white;
    text-shadow: 0 .4rem .5rem rgba(0, 0, 0, .8);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.header-text-sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    animation: moveInRight 1s ease-out;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    color: #dbd7d7;
}


/* showcase styling */

.showcase {
    text-align: center;
    padding: 3rem;
    background-color: rgb(32, 32, 56);
    background-image: linear-gradient(to right bottom, rgba(32, 32, 56, .95), rgba(0, 0, 0, .95)), url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
}

.showcase-text-main {
    display: block;
    color: #fff;
    line-height: 1;
    display: block;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 .4rem .5rem rgba(0, 0, 0, .8);
}

.showcase-text-sub {
    display: block;
    color: #9eadaf;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.showcase-btnwrapper {
    display: block;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.showcase-btn,
.showcase-btn:link,
.showcase-btn:visited {
    background-color: rgb(5, 196, 107);
    font-size: 2rem;
    text-transform: uppercase;
    color: #f4f4f4;
}

.showcase-btn {
    position: relative;
}

.showcase-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 196, 107);
    transition: all .3s;
    z-index: -1;
}

.showcase-btn:hover {
    background-color: rgb(0, 157, 84);
    color: #fff;
}

.showcase-btn:hover::after {
    transform: scaleY(1.6) scaleX(1.2);
    opacity: 0;
}

.u-width-100 {
    width: 100% !important;
}

/* 
sections styling */


/* signup section */

.section-signup {
    padding: 2rem 5rem;
    min-height: 100vh;
    background-color: rgb(32, 32, 56);
    background-image: linear-gradient(to right bottom, rgba(20, 20, 37, 0.97), rgba(0, 0, 0, .98)), url("../img/bg1.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    backface-visibility: hidden;
}

.fix {
    background-color: red !important;
    color: black;
}
.signupResponse {
    background-color: red;
    z-index: 100000;
    position: absolute;
    top: 9%;
    right: 18.5%;
    padding: 2.5rem;
    background-color: rgb(0, 157, 84);
    color: #fff;
    opacity: 0;
    transition: all 1s;
    text-align: center;
    text-transform: uppercase;
}

.signup {
    background-color: #f2f2f2;
    padding: 5rem;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    backface-visibility: hidden;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.signup-form {
    width: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: .4rem;
    border: .1rem solid #999;
}


/* section meetup styling */

.section-meetup {
    padding: 10rem 0rem;
}

.loading {
    margin: 0 auto;
    text-align: center;
}
/*section records  */

.section-record {
    padding: 7rem 0rem;
    background-color: #f4f4f4;
    position: relative;
}

.record-table {
    table-layout: fixed;
    width: 100%;
    white-space: none;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: .3rem;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

.record-caption {
    color: rgb(32, 32, 56);
    text-align: left;
    animation-duration: .9s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
}

.record-row,
.record-heading,
.record-data {
    padding: 1rem 1.5rem;
    text-align: center;
    border-spacing: .8rem;
}

.record-heading {
    background-color: rgb(32, 32, 56);
    color: #f4f4f4;
    text-transform: capitalize;
}

.err {
    color: red !important;

}

/* create post modal */
.delete-post {
        position: fixed;
    background-image: linear-gradient(to right bottom, rgba(32, 32, 56, .8), rgba(0, 0, 0, .8));
    top: 0%;
    left: 0%;
    min-height: 100vh;
    opacity: 0;
    width: 100%;
    display: none;
    overflow: scroll;
    z-index: 1500;
    color:#333;
    text-align: center;
}

.delete-popup {
       background-color: #f2f2f2;
    padding: 4rem 10rem;
    height: 25rem;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    backface-visibility: hidden;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.delete-meetuptitle {
    font-size: 2.5rem;
}

.delete-text {
    color: red !important;
}
.create-post {
    position: fixed;
    background-image: linear-gradient(to right bottom, rgba(32, 32, 56, .8), rgba(0, 0, 0, .8));
    top: 20%;
    left: 0%;
    min-height: 100vh;
    opacity: 1;
    width: 100%;
    display: block;
    overflow: scroll;
    z-index: 500;
}

.create-post-popup {
    background-color: #f2f2f2;
    padding: 5rem;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    backface-visibility: hidden;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.create-form {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: .4rem;
    border: .1rem solid #999;
}

.reply {
    text-align: right;
    color: rgb(32, 32, 56);
    padding: .2rem 1rem;
    background-color: rgb(218, 218, 218);
    font-size: 1.6rem;
}

.meetup-btnwrapper {
    width: 60%;
    margin: 0 auto;
}

.row-No {
    width: 7%;
}

.row-title {
    width: 67%;
}

.row-date {
    width: 13%;
}

.row-action {
    width: 13%;
}

.record-row:nth-child(even) {
    background-color: #e0e0e0;
}

.record-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-meetup {
         background-image: linear-gradient(to right bottom, rgba(20, 20, 37, 0.97), rgba(0, 0, 0, .98)), url("../img/bg1.jpg");
     min-height: 100vh;
     background-position: centre;
     background-size: cover;
     position: relative;
     padding: 3rem;
   
}

.createForm {
    border-radius: .3rem;
    background-color: #f2f2f2;
    min-height: 50rem;
    padding: 3rem 2rem;
    transform: scale(.9);
    margin-top: -6rem;
}

.responseDiv {
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%,-50%);
padding: 2rem;
color: white;
width: 30%;
display: none;
transition: all 1s;
z-index: 20;
text-align: center;
}

.success {
    background-color:  rgb(5, 196, 107);
    color: #fff;
}

.failed {
    background-color: rgb(194, 33, 15);
}

.formerror {
    text-align: center;
    padding: 1rem;
}

/* meetup card styling */

.card {
    width: 100%;
    height: 18rem;
    background-color: #f4f4f4;
    /* // second bug fix */
    border: 1px solid #dbdbdb;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-bottom: 2rem;
}

.card>* {
    transition: all .3s;
}
/* 
.card:not(:last-child) {
    margin-bottom: 2rem;
} */

.card [class^=col-] {
    margin-right: 0rem;
}

.card-figure {
    height: 18rem;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(20, 20, 37, 0.6), rgba(0, 0, 0, .9)), url("../img/meetup\(3\).jpg");
    background-position: center;
    background-size: cover;s
}

    .card-description {
        height: 100%;
        margin-bottom: 1rem;
        padding: 1.5rem 2rem;
    }

.card-img {
    object-fit: contain;
    height: 100%;
    transform: scale(1.5);
    width: 100%;
    /* transform: scale(1.5); */
}

.card-title {
    color: rgb(45, 45, 87);
}

.card-text {
    font-size: 1.6rem;
    color: #555;
    letter-spacing: 1px;
    line-height: inherit;
    margin-bottom: 2.5rem;
}

.card-btn {
    padding: .6rem 2rem;
    display: inline-block;
    /* background-color: green; */
    color: rgb(5, 196, 107);
    border: 1px solid rgb(5, 196, 107);
    border-radius: .3rem;
    transition: all .3s;
}

.card-schedule {
    padding: 1rem;
    width: 30%;
    text-align: center;
    border-radius: .3rem;
    position: relative;
    perspective: 1900;
}

.card-schedule-side {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: inherit;
    transition: .8s;
}

.card-schedule-front {
    background-color: #fff;
    border: 1px solid rgb(5, 196, 107);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 12;
    color: rgb(32, 32, 56);
}

.card-schedule-back {
    background-color: rgb(5, 196, 107);
    transform: rotateY(180deg);
    z-index: 10;
}

.card-schedule:hover .card-schedule-front {
    transform: rotateY(180deg);
}

.card-schedule:hover .card-schedule-back {
    transform: rotateY(0deg);
}

.schedule-btn:link,
.schedule-btn:visited,
.schedule-btn:active {
    border: 1px solid white;
    padding: .5rem 2rem;
    color: white;
    outline: none;
}

.schedule-btn:link:not(:last-child),
.schedule-btn:visited:not(:last-child),
.schedule-btn:active:not(:last-child) {
    margin-right: 1.2rem;
}

.card-btn:hover {
    color: #f4f4f4;
    background-color: rgb(5, 196, 107);
}

ion-icon {
    color: rgb(22, 22, 41);
    font-size: 1.6rem;
}

.delete-cancel, .delete-ok {
margin-right: 2rem;
padding-right: 3rem;
padding-left: 3rem;
}

.delete-ok {
color: red;
border: 1px solid red;
}

.delete-ok:hover {
    background-color: red;
    color: #fff !important;
}
.card-description2 {
    padding: 1rem 2rem;
    text-align: center;
}

.card-question-link {
    padding: 1rem;
    color: rgb(5, 196, 107);
    display: inline-block;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: 1px solid rgb(5, 196, 107);
    width: 100%;
    border-radius: .3rem;
    transition: all .3s;
}

.card-question-link:hover {
    background-color: rgb(5, 196, 107);
    color: #f4f4f4;
}

.card-question-number {
    display: block;
    font-weight: 700;
}

.card-created {
    color: rgb(32, 32, 56);
    font-size: 1.3rem;
    margin-top: 1rem;
}

.created-when {
    display: block;
    color: rgb(194, 33, 15);
    ;
    font-size: 1.2rem;
}

.card-sub {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #999;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}

.card-sub:not(:last-child) {
    margin-bottom: 2rem;
}

    .questionbtn {
   margin-left: 48rem;
    background-color: #fff;
    color: rgb(5, 196, 107) !important;
    border: 1px solid rgb(5, 196, 107);
    border-radius: .3rem;
    /* float: right; */
}

.questionbtn::after, .questionbtn::before {
    clear: both;
}

.questionbtn:hover  {
    background-color: rgb(5, 196, 107) !important;
    color: #fff !important;
}
/* section post styling */

.section-post {
    padding: 2rem 0rem;
}

.post {
    position: relative;
    padding: 2rem 0;
}

.post-description {
   padding: 2rem 2rem 3rem 2rem;
word-wrap: normal;
width: 95%;
text-align: justify;
}
}


.post-text {
    text-align: justify;
    line-height: 2.7rem;
}

.post-textarea {
    overflow: hidden;
    height: 5.8rem;
    width: 100%;
      border-radius: 50rem;
}

.post-figure {
    width: 100%;
    height: 50rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    transform: scale(.9);
    transition: all .3s;
    margin-bottom: 3rem;
    background-image:  url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;s
}

.post-figure:hover {
    outline-offset: 2rem;
}

.post-heading {
    text-transform: uppercase;
    color: rgb(32, 32, 56);
}

.post-img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: all .5s;
}

.more-meetup {
    border: 1px solid #d1d1d1;
    padding: 2rem;
}

.post-questions {
    border: 1px solid #d1d1d1;
    padding: 1rem;
}

.questions {
    background-color: rgb(219, 219, 219);
    padding: 1rem 2rem;
    font-family: 'Lato' sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    border-radius: 50rem;
}

.questions:not(:last-child) {
    margin-bottom: 1.5rem;
}

.question-btnlist {
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(5, 196, 107);
}

.question-btnlistitem {
    list-style: none;
    display: inline-block;
}

.question-btnlistitem:not(:last-child) {
    margin-right: 2rem;
}

.question-btn:link,
.question-btn:visited,
.question-btn:active {
    outline: none;
}

.question-text {
    padding: 0rem .2rem;
    color: #333;
    font-family: poppins;
}

.scheduledMeetup:link,
.scheduledMeetup:visited,
.scheduledMeetup:active {
outline: none;
}

/* footer styling */

.footer {
    padding: 2rem;
    text-align: center;
    background-color: rgb(32, 32, 56);
}

.emp {
    display: inline-block;
    font-style: italic;
    color: rgb(5, 196, 107);
}

.less {
    color: #afb1af;
    border: none;
    padding: none;
    background-color: transparent;
}

.more {
    border: 1px solid rgb(5, 196, 107);
    padding: 2rem;
    border-radius: .3rem;
    margin-bottom: 10rem;
    margin-top: -50rem;
    transition: all .2s;
    background-color: #fff;
}

.more:hover {
    background-color: rgb(5, 196, 107);
    color: #f4f4f4;
}



/* animations  keyframes*/

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


/* 1200px */

@media (max-width: 75em) {
    html {
        font-size: 53%;
    }
    .signup-form {
        width: 70%;
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: .4rem;
        border: .1rem solid #999;
    }
}


/* 900px */

@media (max-width: 62em) {
    html {
        font-size: 51%;
    }
    .row {
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem
    }
    [class^=col-] {
        width: 100%;
        float: none;
        margin-bottom: 4rem;
        /* display: block; */
    }
    .card {
        width: 100%;
        background-color: #f4f4f4;
        border: 1px solid #999;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        overflow: unset;
        height: 100%;
        padding: 1rem;
    }
    .card-figure {
        display: none;
    }

    .card-description {
        height: 100%;
        margin-bottom: 1rem;
        padding: 1.5rem 2rem;
    }
    .card-title {
        color: rgb(45, 45, 87);
    }
    .card-text {
        font-size: 1.6rem;
        color: #555;
        letter-spacing: 1px;
        line-height: inherit;
        margin-bottom: 2.5rem;
    }
    .card-btn {
        padding: 1.7rem 9rem;
        font-size: 1.8rem;
    }
    .card-description2 {
        padding: 1rem 2rem;
        text-align: center;
    }
    .card-question-link {
        display: none;
    }
    .card-created {
        color: rgb(32, 32, 56);
        font-size: 1.6rem;
        text-align: left;
    }
    .section-meetup {
        padding: 5rem 1rem;
    }
    .navigation {
        position: relative;
        padding: 3rem 0rem;
    }
    .navigation-mobilelogobox {
        position: absolute;
        top: 25%;
        left: 10%;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: inline-block;
        opacity: 1;
    }
    .section-signup {
        height: 100vh;
        padding: 0rem;
        /* min-height: 95vh; */
        background-image: none;
        background-color: #f2f2f2;
        backface-visibility: hidden;
    }
    .signup {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%) scale(1);
        box-shadow: none;
    }
    .signup-form {
        width: 70%;
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: none;
        border: .1rem solid #999;
    }
    
    .create-post {
        position: fixed;
        background-image: linear-gradient(to right bottom, rgba(32, 32, 56, .8), rgba(0, 0, 0, .8));
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
    }

    .delete-popup {
       background-color: #f2f2f2;
    padding: 4rem 10rem;
    height: 25rem;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
        transform: translate(0%, 0%) scale(1);
    backface-visibility: hidden;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
    .create-post-popup {
        background-color: #f2f2f2;
        padding: 10rem 0rem;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%) scale(1);
        backface-visibility: hidden;
        border-radius: .6rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
    .create-form {
        width: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 2rem 2rem;
        border-radius: .4rem;
        border: .1rem solid #999;
    }
}


/* 600px */

@media (max-width: 48em) {
    html {
        font-size: 50%;
    }
    .card-btn {
        padding: 1.7rem 7rem;
        font-size: 1.8rem;
    }
    .post-figure {
        width: 100%;
        transform: scale(1);
        outline: 2px solid rgb(32, 32, 56);
        outline-offset: 1rem;
    }
    .section-signup {
        height: auto;
        padding: 0rem;
        min-height: 95vh;
        background-image: none;
        background-color: #f2f2f2;
        backface-visibility: hidden;
    }
    .signup {
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%) scale(1);
        box-shadow: none;
        cursor: pointer;

    }
    .signup-form {
        width: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: none;
        border: .1rem solid #999;
    }
    .signup-heading {
        margin-bottom: 2rem;
        text-align: center;
    }
    .section-record {
        padding: 3rem 0rem;
        background-color: #f4f4f4;
        position: relative;
    }
    .record-table {
        position: relative;
        width: 100%
    }
    .record-row,
    .record-data {
        /* border: .1rem solid red; */
        /* border-collapse: collapse; */
        display: block;
        padding: 1rem 1.5rem;
        text-align: left;
        border-spacing: .8rem;
        font-size: 2rem;
    }
    .record-data {
        position: relative;
        padding-left: 40%;
    }
    .record-data::before {
        position: absolute;
        top: .6rem;
        left: .6rem;
        width: 45%;
        white-space: nowrap;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 700;
        color: rgb(32, 32, 56)
    }
    td:nth-of-type(1):before {
        content: "No";
    }
    td:nth-of-type(2):before {
        content: "Meetup Title";
    }
    td:nth-of-type(3):before {
        content: "Date created";
    }
    td:nth-of-type(4):before {
        content: "Action";
    }
    .record-heading {
        display: none;
    }
    .record-delete,
    .record-edit {
        padding-right: 1em;
    }
    .create-post-popup {
        background-color: #f2f2f2;
        padding: 1rem;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, -5%) scale(.8);
        backface-visibility: hidden;
        border-radius: .6rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        overflow: scroll;
    }
    .header-wrapper {
        width: 95%;
        text-align: center;
    }
}

@media (max-width: 36em) {
    html {
        font-size: 35%;
    }
    .admin-showcase {
        min-height: 40vh;
    }
    .form-group-inline {
        width: 100%;
        float: none;
    }
}