* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    box-sizing: border-box;
    color: #555;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.section__profile {
    padding: 8rem;
    background-color: #eeeeee;
}

.profile__info {
     table-layout: fixed;
     width: 100%;
     white-space: none;
     border: 1px solid #cacaca;
     padding: 1rem;
     border-collapse: collapse;
     box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.profile__row,
.profile__heading,
.profile__data {
    padding: 1rem 1.5rem;
    text-align: left;
    border: 1px solid #cacaca;

}

.profile__data {
    color: rgb(5, 196, 107);
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
}
.profile__heading {
    background-color: rgb(32, 32, 56);
    color: #f4f4f4;
    text-transform: capitalize;
}

.profile__row-1 {
    width: 30%
}
.profile__row-2{
    width: 70%;
}

.meetup__info {
    table-layout: fixed;
    width: 100%;
    white-space: none;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-spacing: 1rem;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.meetup__row,
.meetup__data {
   padding: 1rem 1.5rem;
   text-align: left;
   border: 1px solid #cacaca;

}

.meetup__row:nth-child(even) {
    background-color: #e0e0e0;
}

.meetup__data {
   color: rgb(5, 196, 107);
   font-style: italic;
   text-overflow: ellipsis;
   overflow: hidden;
}
.meetup__heading {
   background-color: rgb(32, 32, 56);
   color: #f4f4f4;
   text-transform: capitalize;
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 1rem 1.5rem;
}

.profile__row-1 {
   width: 30%
}
.profile__row-2{
   width: 70%;
}

/* animation classes */

.moveInBottom {
    animation-name: moveInBottom;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
 }

 .moveInLeft {
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
 }

 .moveInRight {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
 }


/* utility classes */

.u-marginBottom-sm {
    margin-bottom: 2rem;
}
.u-marginBottom-md{
    margin-bottom: 4rem;
}
.u-marginTop-sm {
    margin-top: 1rem;
}
.u-marginTop-md {
    margin-top: 4rem;
}
.u-marginTop-lg{
    margin-top: 8rem;
}
.paddingSide-sm {
    padding-right: 2rem;
    padding-left: 2rem;
}
.u-paddingRight-sm {
    padding-right: 2rem;
}

.less {
    color: #555;
    border: none;
    padding: none;
    background-color: transparent;
}

.u-text-center {
    text-align: center
}

.padding-df {
    padding: 3rem;
}

.close {
    padding: 1rem;
    text-align: right;
    display: inline-block;
    font-size: 6rem;
    color: inherit;
    color: rgb(32,32,56);
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 4rem;
}




/* typography classes */

.heading--primary {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(32,32,56);
}

.heading--secondary{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(32,32,56);

}



/* btn classes */


.btn, .btn:link, .btn:visited,.btn-1,.btn-1:link, .btn-1:visited, button{
    display: inline-block;
    padding: 2rem 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    border-radius: .3rem;
    transition: all .4s;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
    outline: none;
}

button:active {
    transform: translateY(.5rem);
    backface-visibility: hidden;
}


.btn-1 {
    border: .1rem solid #999;
}

.btn:hover,.btn-1:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
    transform: translateY(-.3rem);
}

.emp {
    display: inline-block;
    font-style: italic;
    color: rgb(5, 196, 107);
}



/* grid  classes*/

.row {
    width: 80%;
    margin: 0 auto;
}

.row:not(:last-child){
    margin-bottom: 2rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class^=col-]{
    float: left;
}

[class^=col-]:not(:last-child) {
    margin-right: 3rem;
}

 /* if a row is considered to be 100%, then column width would basically be row width divide by specified size of col - margin between columns */


.col-1-of-2{
    width: 45%;
    width: calc( 1 * ((100% - (1 * 3rem)) / 2 ) + (1 - 1) * 3rem);
}

.col-4-of-5 {
    width: calc( 4 * ((100% - (4 * 3rem)) / 5 ) + (4 - 1) * 3rem);
}

.col-1-of-5 {

    width: calc( 1 * ((100% - (4 * 3rem)) / 5 ) + (1 - 1) * 3rem);
}

 .col-3-of-5{
    width: calc( 3 * ((100% - (4 * 3rem)) / 5 ) + (3 - 1) * 3rem);
}

 .col-2-of-5 {
    width: calc( 2 * ((100% - (4 * 3rem)) / 5 ) + (2 - 1) * 3rem);
}



/* form styling */

.form:not(:last-child){
    margin-bottom: 2rem;
}
.form__group:not(:last-child){
    margin-bottom: 3rem;
}

.form__label {
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    font-family: inherit;
    color: #555;
    cursor: pointer;
    text-align: left;
}

.form__input {
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: .3rem;
    border: .1rem solid #999;
    outline: none;
    font-family: inherit;
    font-size: 1.7rem;
    color: #333;
    transition:  all .4s;
    display: block;
    cursor: pointer;
}

.form__input:focus {
    border: .1rem solid rgb(32, 32, 56);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
} 

.form__btn{
    padding: 2rem 1.5rem;
    color: #f4f4f4;
    background-color:rgb(5, 196, 107);
    font-size: 1.7rem;
    text-transform: uppercase;
    transition: all .3s;
}

.form__btn:hover {
    background-color: rgb(0, 157, 84);
}

.form__btn-sm{
    padding: 1rem 1rem;
}

.form__logobox {
    margin-bottom: 2rem;
    text-align: center;
}

.form__logo {
    height: 6rem;
}

.form__heading {
    color: rgb(32, 32, 56);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    
}

.form__group--inline {
    width: 50%;
    float: left;

}

.form__group--inline:after {
    display: inline-block;
    content: "";
    clear: both;
}

.form__group--inline:not(:last-child) {
    padding-right: 1rem;
}


/* navigation  classes*/

.navigation {
    background-color: rgb(32, 32, 56);
    padding: 1.5rem 0rem;
    position: relative;
}

.navigation::after{
    content: "";
    display: table;
    clear: both
}

.navigation__logobox {
    display: inline-block;
    position: absolute;
    top: 19%
}

.navigation__logo {
    height: 4.5rem;
}

.navigation__list {
    float: right;
    padding: .5rem 1rem;
}

.navigation__listitem {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.navigation__listitem:not(:last-child) {
    margin-right: .5rem;
}

.navigation__listsearch {
    padding: .5rem 2rem;
    width: 70%;
    border-radius: .3rem;
    border: .1rem solid #999;
    outline: none;
    font-family: inherit;
    font-size: 1.7rem;
    color: #333;
    cursor: pointer;
}

.navigation__listlink {
    border: .1rem solid #f4f4f4;
    padding: .5rem 2rem;
    color: #f4f4f4;
    transition: all .4s;
}

.navigation__listlink:hover {
    color: rgb(55, 55, 95);
    background-color: #f4f4f4;
}

.navigation__profileimg {
    position: absolute;
    top: 24%;
    height: 4rem;
}


/* mobile navigation....(very painful..lol) */
.navigation__mobile {
   position: fixed;
   top: 0%;
   left: -50%;
   width: 0%;
   height: 100vh;
   z-index: 1500;
   opacity: 0;
   transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .navigation__listmobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    width: 100%; 
}

.navigation__listitem--mobile{
    margin: 2rem; }

.navigation__listlink--mobile,
.navigation__listlink--mobile:visited,
.navigation__listlink--mobile:link {
  border: .1rem solid #f4f4f4;
  color: #fefefe;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 3rem;
  transition: all .3s;
  border-radius: .3rem;
}

.navigation__listlink--mobile:hover,
.navigation__listlink--mobile:active,
.navigation__listlink--mobile:visited {
    color: rgb(55, 55, 95);
    background-color: #f4f4f4;
}

.navigation__toggle {
background-color: #f4f4f4;
height: 5rem;
width: 5rem;
border-radius: 50%;
position: fixed;
top: 2%;
right: 10%;
z-index: 2000;
cursor: pointer;
box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
}

.navigation__checkbox {
    display: none;
}

.navigation__background {
    background-image: radial-gradient(rgb(32,32,56), rgb(32,32,56));
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 2%;
    right: 11%;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__icon {
    background-color: #333;
    display: inline-block; 
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
     height: .2rem;
     width: 3rem;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: all .3s;
     backface-visibility: hidden; 
    }

.nav__mobile {
        display: none;
        opacity: 0;
    }
   
 .navigation__mobile {
        width: -30%;
        opacity: 0;
    }

.navigation__icon::before, .navigation__icon::after {
    content: "";
    display: inline-block;
    background-color: #333; 
}

.navigation__mobilesearch {
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: purple;
}

.navigation__icon::after {
    top: .8rem; 
 }

 .navigation__icon::before {
    top: -.6rem; 
}

.navigation__toggle:hover .navigation__icon::before {
    top: -1rem; 
}
  
.navigation__toggle:hover .navigation__icon::after {
    top: 1rem; 
}

.navigation__checkbox:checked + .navigation__toggle .navigation__icon {
    background-color: transparent; }
  
.navigation__checkbox:checked + .navigation__toggle .navigation__icon::before {
    top: 0;
    transform: translate(-50%, -50%) rotate(135deg); 
}
  
  .navigation__checkbox:checked + .navigation__toggle .navigation__icon::after {
    top: 0;
    transform: translate(-50%, -50%) rotate(-135deg); 
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
 }

 .navigation__checkbox:checked ~ .navigation__mobile {
     opacity: 1;
     width: 100%;
     left: 0%;
 }


 /*  */

 .header{
    position: relative;
    min-height: 85vh;
    background-color: rgb(32, 32, 56);
    background-image: linear-gradient(to right bottom,rgba(20, 20, 37, 0.9),rgba(0,0,0,.9)),url("../img/bg1.jpg");
    background-position: top;
    background-size: cover;
}

.header__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    text-align: center;

}

.header__text--main {
    display: block;
    color: white;
    text-shadow: 0 .4rem .5rem rgba(0,0,0,.8);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;

}

.header__text--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    animation: moveInRight 1s ease-out;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    color: #dbd7d7;
}

.less {
    color: #555;
    border: none;
    padding: none;
    background-color: transparent;
}
 /* showcase styling */

.showcase {
    text-align: center;
    padding: 3rem;
    background-color: rgb(32,32,56);
    background-image: linear-gradient(to right bottom, rgba(32,32,56,.95),rgba(0,0,0,.95)), url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
}

.showcase__text--main {
    display: block;
    color: #fff;
    line-height: 1;
    display: block;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 .4rem .5rem rgba(0, 0, 0, .8);
}

.showcase__text--sub {
    display: block;
    color: #9eadaf;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.showcase__btnwrapper {
    display: block;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.showcase__btn, .showcase__btn:link, .showcase__btn:visited{
    background-color:rgb(5, 196, 107);
    font-size: 2rem;
    text-transform: uppercase;
    color: #f4f4f4;
}

.showcase__btn:hover {
    background-color: rgb(0, 157, 84);
    color: #fff;
}





/* 
sections styling */

/* signup section */
.section__signup {
    padding: 2rem 5rem;
    min-height: 100vh;
    background-color:rgb(32, 32, 56);
    background-image: linear-gradient(to right bottom,rgba(20, 20, 37, 0.97),rgba(0,0,0,.98)),url("../img/bg1.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    backface-visibility: hidden;
 }
 
 .signup {
     background-color: #f2f2f2;
     padding: 5rem;
     width: 90%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%) scale(.7);
     backface-visibility: hidden;
     border-radius: .6rem;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
 }

 
.signup__form {
    width: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: .4rem;
    border: .1rem solid #999;
}
 


 /* section meetup styling */

 .section__meetup {
    padding: 10rem 0rem;
 }


 /*section records  */

 .section__record {
     padding: 7rem 0rem;
     background-color: #f4f4f4;
 }

 .record__table {
     table-layout: fixed;
     width: 100%;
     white-space: none;
     border: 1px solid #cacaca;
     padding: 1rem;
     border-radius: .3rem;
     animation-duration: .8s;
     animation-delay: .5s;
     animation-fill-mode: backwards;
 }

 .record__caption {
     color: rgb(32, 32, 56);
     text-align: left;
     animation-duration: .9s;
     animation-delay: .2s;
     animation-fill-mode: backwards;
 }
 .record__row,
 .record__heading,
 .record__data {
     padding: 1rem 1.5rem;
     text-align: center;
     border-spacing: .8rem;
 }

 .record__heading {
     background-color: rgb(32, 32, 56);
     color: #f4f4f4;
     text-transform: capitalize;
 }



 /* create post modal */

 .create__post {
     position: fixed;
     background-image: linear-gradient(to right bottom,rgba(32,32,56,.8),rgba(0,0,0,.8));
     top: 0%;
     left: 0%;
     height: 100vh;
     opacity: 0;
     width:100%;
     display: none;
     overflow: scroll;
     z-index: 500;
  
 }

 .create__post--popup {
     background-color: #f2f2f2;
     padding: 5rem;
     width: 90%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%) scale(.7);
     backface-visibility: hidden;
     border-radius: .6rem;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
 }


 .create__form {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: .4rem;
    border: .1rem solid #999;
}


.meetup__btnwrapper {
    width: 60%;
    margin: 0 auto;
}

 .row__No {
     width: 7%;
 }
 .row__title {
     width: 67%;
 }
 .row__date {
     width: 13%;
 }
 .row__action {
     width: 13%;
 }


 .record__row:nth-child(even) {
     background-color: #e0e0e0;
 }

 .record__data {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 

 /* meetup card styling */
 .card {
    width: 100%;
    height: 18rem;
    background-color: #f4f4f4;
    border: 1px solid #dbdbdb;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
    overflow: hidden;
}

.card > * {
    transition: all .3s;
}

.card:not(:last-child){
    margin-bottom: 2rem;
}

.card [class^=col-] {
    margin-right: 0rem;
}

.card__figure {
    height: 18rem;
    width: 100%;
    overflow: hidden;
}

.card__img {
    object-fit: contain;
    height: 100%;
    transform: scale(1.5);
    width: 100%;
}

.card__description {
    height: 18rem;
    padding: 1rem 2rem;
}

.card__title {
    color: rgb(45, 45, 87);
}
.card__text {
    font-size: 1.6rem;
    color: #555;
    letter-spacing: 1px;
    line-height: inherit;
    margin-bottom: 2.5rem;
}



.card__btn {
    padding: .6rem 2rem;
    display: inline-block;
    /* background-color: green; */
    color:  rgb(5, 196, 107);
    border: 1px solid rgb(5, 196, 107);
    border-radius: .3rem;
    transition: all .3s;
}

.card__btn:hover {
    color: #f4f4f4;
    background-color: rgb(5, 196, 107);
}

.card__description2 {
    padding: 1rem 2rem;
    text-align: center;
}

.card__question--link {
    padding: 1rem;
    color: rgb(5, 196, 107);
    display: inline-block;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: 1px solid  rgb(5, 196, 107);
    width: 100%;
    border-radius: .3rem;
    transition: all .3s;
    margin-bottom: 1.5rem;
}

.card__question--link:hover {
      background-color: rgb(5, 196, 107);
      color: #f4f4f4;
}

.card__question--number {
    display: block;
    font-weight: 700;
}

.card__created {
    color: rgb(32, 32, 56);
    font-size: 1.3rem;
}

.card__sub {
        width: 100%;
        background-color: #f4f4f4;
        border: 1px solid #999;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
        overflow: hidden;
}

.card__sub:not(:last-child){
    margin-bottom: 2rem;
}

.showmore {
    border: 1px solid rgb(5, 196, 107);
    padding: 1.5rem;
    border-radius: 2px;
    transition: all .3s;
}

.showmore:hover {
    background-color: rgb(5, 196, 107);
    color: #fff;
}
/* section post styling */

.section__post {
    padding: 2rem 0rem;
}

.post {
    position: relative;
    padding: 2rem 0;
}

.post__textarea {
    overflow:hidden;
    height: 5.8rem;
    width: 100%;
}

.post__figure{
    width: 40rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    transform: scale(.9);
    outline: 2px solid rgb(32, 32, 56);
    outline-offset: 1rem;
    transition: all .3s;
    margin-bottom: 3rem;
}

.post__figure:hover {
    outline-offset: 2rem;
}

.post__heading {
    text-transform: uppercase;
    color: rgb(32,32,56);
}

.post__img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: all .5s;
   
}

.more__meetup {
    border: 1px solid #d1d1d1;
    padding: 2rem;
}

.post__questions {
    border: 1px solid #d1d1d1;
    padding: 1rem;
}

.questions {
    background-color: #f4f4f4;
    padding: .5rem;
    font-family: 'Lato' sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

.questions:not(:last-child){
    margin-bottom: 1.5rem;
}

.question__btnlist {
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(5, 196, 107);
}
.question__btnlistitem {
    list-style: none;
    display: inline-block;
}

.question__btnlistitem:not(:last-child) {
    margin-right: 1rem;
}

/* footer styling */
    
.footer {
    padding: 5rem;
    text-align: center;
    background-color:rgb(32, 32, 56);
}

 
/* animations  keyframes*/

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform : translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform : translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform : translateY(10rem);
    }
    80%{
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


 /* 1200px */
 @media (max-width: 75em) {
     html {
         font-size: 53%;
     }
   
 .signup__form {
      width: 70%;
      margin: 0 auto;
      padding: 2rem 1rem;
      border-radius: .4rem;
      border: .1rem solid #999;
  }

}



 /* 900px */

 @media (max-width: 62em){
    html {
        font-size: 51%;
    }

    .row {
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem
    }

    
    [class^=col-] {
        width: 100%;
        float: none;
        margin-bottom: 4rem;
        /* display: block; */
    }

    .card {
        width: 100%;
        background-color: #f4f4f4;
        border: 1px solid #999;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
        overflow: unset;
        height: 100%;
        padding: 1rem;

    }

    .card__figure {
        display: none;
    }
    
    .card__description {
        height: 100%;
        padding: 1rem 3rem;
        margin-bottom: 1rem;
    }
    
    .card__title {
        color: rgb(45, 45, 87);
    }
    .card__text {
        font-size: 1.6rem;
        color: #555;
        letter-spacing: 1px;
        line-height: inherit;
        margin-bottom: 2.5rem;
    }

    .card__btn {
        padding: 1.7rem 9rem;
        font-size: 1.8rem;
    }
    .card__description2 {
        padding: 1rem 2rem;
        text-align: center;
    }
    
    .card__question--link {
        display: none;
    }
 
    .card__created {
        color: rgb(32, 32, 56);
        font-size: 1.6rem;
        text-align: left;
    }

    .section__meetup {
        padding: 5rem 1rem;
    }
    

    .navigation {
        position: relative;
        padding: 3rem 0rem;
    }
    .navigation__mobilelogobox {
        position: absolute;
        top: 25%;
        left: 10%;
    }

    .nav__desktop {
        display: none;
    }
    .nav__mobile {
        display: inline-block;
        opacity: 1;
    }

    .section__signup {
       height: 100vh;
       padding: 0rem;
       /* min-height: 95vh; */
       background-image: none;
       background-color: #f2f2f2;
       backface-visibility: hidden;
    }

    .signup {
       height: 100%;
       width: 100%;
       position: absolute;
       top: 0%;
       left:0%;
       transform: translate(0%,0%) scale(1);
       box-shadow: none;
   }
    .signup__form {
       width: 70%;
       margin: 0 auto;
       padding: 2rem 1rem;
       border-radius: none;
       border: .1rem solid #999;
       

   }

   .create__post {
    position: fixed;
    background-image: linear-gradient(to right bottom,rgba(32,32,56,.8),rgba(0,0,0,.8));
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
}

.create__post--popup {
    background-color: #f2f2f2;
    padding: 10rem 0rem;
    width: 100%;
    position: absolute;
    top:  0%;
    left: 0%;
    transform: translate(0%,0%) scale(1);
    backface-visibility: hidden;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
}


.create__form {
   width: 100%;
   background-color: #ffffff;
   margin: 0 auto;
   padding: 2rem 2rem;
   border-radius: .4rem;
   border: .1rem solid #999;
}



 }

 /* 600px */

 @media (max-width: 48em){
     html {
         font-size: 50%;
     }
     .card__btn {
        padding: 1.7rem 7rem;
        font-size: 1.8rem;
    }

    .post__figure{
        width: 100%;
        transform: scale(1);
        outline: 2px solid rgb(32, 32, 56);
        outline-offset: 1rem;
    }

     .section__signup {
        height: auto;
        padding: 0rem;
        min-height: 95vh;
        background-image: none;
        background-color: #f2f2f2;
        backface-visibility: hidden;
     }

     .signup {
        width: 100%;
        position: absolute;
        top: 0%;
        left:0%;
        transform: translate(0%,0%) scale(1);
        box-shadow: none;
    }
     .signup__form {
        width: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: none;
        border: .1rem solid #999;
     
    }

     .signup__heading {
        margin-bottom: 2rem;
        text-align: center;
        
    }

    .section__record {
        padding: 3rem 0rem;
        background-color: #f4f4f4;
    }
   
    .record__table {
        position: relative;
        width: 100%
    }

   

    .record__row,
    .record__data {
        /* border: .1rem solid red; */
        /* border-collapse: collapse; */
        display: block;
        padding: 1rem 1.5rem;
        text-align: left;
        border-spacing: .8rem;
        font-size: 2rem;
    }

    .record__data {
        position: relative;
        padding-left: 40%;
    }

    .record__data::before {
        position: absolute;
        top: .6rem;
        left: .6rem;
        width: 45%;
        white-space: nowrap;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 700;
        color: rgb(32,32,56)
    }

    td:nth-of-type(1):before {
        content: "No";
    }
    td:nth-of-type(2):before {
        content: "Meetup Title";
    }
    td:nth-of-type(3):before {
        content: "Date created";
    }
    td:nth-of-type(4):before {
        content: "Action";
    }

    .record__heading {
        display: none;
    }
   
    .record__delete,
    .record__edit {
        padding-right: 1em;
    }
   
    .create__post--popup {
        background-color: #f2f2f2;
        padding: 1rem;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%,-5%) scale(.8);
        backface-visibility: hidden;
        border-radius: .6rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
        overflow: scroll;
    }

    
.header__wrapper{
   
    width: 95%;
    text-align: center;

}
   
   
 }





 @media (max-width: 36em){
     html {
         font-size: 35%;
     }

     .admin__showcase {
         min-height: 40vh;
     }

     .form__group--inline {
        width: 100%;
        float: none;
     
     }
 }


